.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.bot {
    position: absolute;
    width: 15vmin;
    height: 15vmin;
}

.box {
    width: 15vmin;
    height: 15vmin;
}

#package-assets {
    min-height: 25vh;
}