.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.bot {
    position: absolute;
    width: 15vmin;
    height: 15vmin;
    pointer-events: none;
}

.box {
    width: 15vmin;
    height: 15vmin;
}

#bots {
    margin-top: 5vh;
}

#package-assets {
    min-height: 25vh;
}

body {
    margin: 0;
}

.hand {
    width: 60px; /* adjust to desired width */
    height: 75px; /* adjust to desired height */
    border-top-left-radius: 100px; /* set border radius to half of width */
    border-bottom-left-radius: 100px; /* set border radius to half of width */
    border-top: 10px solid black; /* add a thick black border to the curved side */
    border-left: 20px solid black;
    border-bottom: 10px solid black;
}
